<div class="signUpBackground">
  <div class="signup-box">
    <h2>Sign Up</h2>
    <form action="/signup" method="post" class="signup-form">
      <div class="user-box">
        <input type="text" name="name" id="username-signup" required="">
        <label>Username</label>
      </div>
      <div class="user-box">
        <input type="email" name="email" id="email-signup" required="">
        <label>Email</label>
      </div>
      <div class="user-box">
        <input type="password" name="password" id="password-signup" required="">
        <label>Password</label>
      </div>
      <button type="submit">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Sign Up
      </button>
    </form>
    <p class="login">Already have an account? <a href="/login">Login</a></p>
  </div>
</div>

<script src="./js/signup.js"></script>
